$text-color: #524333;
$title-color: #ff8400;
$subheading-color: #235c2e;
$background-color: #235c2e;
$shadow: 0 1px 3px 0 rgb(227, 227, 227), 0 1px 1px 0 rgb(227, 227, 227), 0 2px 1px -1px rgb(227, 227, 227);
$card: 0 2px 2px 0 rgb(227, 227, 227), 0 3px 1px -2px rgb(227, 227, 227), 0 1px 5px 0 rgb(227, 227, 227);

@mixin flexMiddle($direction, $align){
    display: flex;
    justify-content: center;
    flex-direction: $direction;
    align-items: $align;
}

@mixin backgroundImage(){
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

html{
    scroll-behavior: smooth;
}

body{
    padding: 0px;
    margin: 0px;
}

h1{
    color: $title-color;
    font-family: 'Fira Sans', sans-serif;
}

h2{
    color: $subheading-color;
    font-size: 60px;
    font-family: 'Fira Sans', sans-serif;
}

h3{
    color: $subheading-color;
    font-size: 45px;
    font-family: 'Fira Sans', sans-serif;
}

p, li{
    color: $text-color;
    font-size: 22px;
    font-family: 'Nunito Sans', sans-serif;
}

button{
    background-color: $background-color;
    border: $background-color;
    border-radius: 15px 5px 30px 5px;
    padding: 10px 25px 10px 15px;
    font-size: 25px;
    color: white;
    cursor: pointer;
    &:hover{
        background-color: #e4f7ee;
        color: $subheading-color;
    }
}

footer{
    margin: auto 0px 0px 0px;
    padding: 20px;
    border-top: 3px solid $background-color;
    @include flexMiddle(column, center);
    img{
        width: 200px;
    }
    div{
        @include flexMiddle(inline, center);
        justify-content: space-evenly; 
        width: 100%;
    }
    p{
        text-align: center;
        font-weight: 600;
    }
}

#navbar{
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 5;
    box-shadow: $shadow;
    height: auto;
    @include flexMiddle(inline, space-between);
    justify-content: space-between;
    align-items: center;
    button{
        margin: 10px 10px 10px auto;
    }
    img{
        margin: 15px;
        width: 200px;
    }
}

#hero{
    background-image: url('./images/Hero\ Herstel\ Plus-cutout.jpeg');
    @include backgroundImage();
    @include flexMiddle(inline, flex-start);
    height: 870px;
    margin-bottom: 50px;
    #hero-title{
        color: white;
        margin-top: 75px;
        text-align: center;
        text-shadow: 2px 2px black;
    }
}

#problem-section{
    background-image: url('./images/background-cutout.jpeg');
    @include backgroundImage();
    @include flexMiddle(column, center);
    #problem-section-inner-container{
        background-color: $background-color;
        margin-top: 250px;
    }
    h2{
        text-align: center;
        margin: 0px 50px 100px 50px;
        color: white;
    }
    #card-container{
        @include flexMiddle(inline, flex-start);
        margin-bottom: 100px;
    }
    .explainer-card{
        border: 3px solid white;
        width: 80%;
        height: 600px;
        border-radius: 15px;
        margin: 20px;
        padding: 20px;
    }
    .problem-title-container{
        @include flexMiddle(column, center);
        img{
            width: 100px;
            margin-right: 20px;
        }
        h3{
            margin-bottom: 0px;
            color: white;
            text-align: left;
        }
        p{
            font-size: 40px;
            color: white
        }
    }
}

#solution-section{
    @extend #problem-section;
    background-image: none;
    background-color: white;
    align-items: flex-start;
    @include flexMiddle(column, center);
    .solution-text-container{
        @include flexMiddle(inline, flex-start);
        img{
            width: 250px;
            margin-right: 50px;
        }
        h3{
            font-size: 50px;
        }
    }
    h2{
        color: $subheading-color;
        margin-top: 100px;
    }
}

#program-section{
    @extend #problem-section;
    background-image: none;
    #program-section-inner-container{
        background-color: $background-color;
        margin-top: 150px;
    }
    h2{
        margin: 100px 30px 100px 30px;
    }
    #program-details-outer-container{
        margin: 10px 50px;
    }
    .program-details-container{
        @include flexMiddle(inline, flex-start);
        justify-content: flex-start;
        align-items: center;
        margin: 20px 0px;
        border-bottom: 1px solid $title-color;
        img{
            width: 50px;
            margin-right: 50px;
        }
        p{
            font-size: 40px;
            font-weight: bold;
            color: white;
        }
    }
    .agenda-card{
        @extend .explainer-card;
        width: 80%;
        background-color: white;
        margin-top: 50px;
        height: 450px;
        button{
            margin-top: 20px;
        }
    }
    .agenda-card-container{
        width: 100%;
        margin: 50px 0px 100px 0px;
        @include flexMiddle(inline, flex-start);
    }
}

#introduction-section{
    @extend #solution-section;
    @include flexMiddle(column, center);
    h2{
        text-align: center;
    }
    #appointment-container{
        width: 100%;
    }
    #location-container{
        @include flexMiddle(column, center);
        margin-bottom: 100px;
        img{
            width: 50px;
        }
        p{
            font-weight: bold;
            padding: 10px 20px;
        }
    }
}

@media only screen and (max-width: 1050px){

    #hero{
        height: 400px;
    }

    #problem-section{
        background-position: top;
        background-size: 100%;
    }

    .solution-text-container{
        flex-direction: column;
        align-items: center !important;
        margin: 20px 20px !important;
        text-align: center !important;
    }

    #problem-section-inner-container{
        margin-top: 100px !important;
    }

    .agenda-card-container{
        flex-wrap: wrap;
    }

    #navbar{
        justify-content: center !important;
    }

    #navbar img{
        width: 100px !important;
    }

    #navbar button{
        display: none;
    }

    #card-container{
        flex-wrap: wrap;
    }

    .explainer-card{
        height: 420px !important;
    }

    h2{
        font-size: 35px !important;
    }

    h3{
        font-size: 25px !important;
    }

    p{
        font-size: 22px !important;
    }

    footer img{
        width: 100px;
    }

}
