html {
  scroll-behavior: smooth;
}

body {
  padding: 0px;
  margin: 0px;
}

h1 {
  color: #ff8400;
  font-family: 'Fira Sans', sans-serif;
}

h2 {
  color: #235c2e;
  font-size: 60px;
  font-family: 'Fira Sans', sans-serif;
}

h3 {
  color: #235c2e;
  font-size: 45px;
  font-family: 'Fira Sans', sans-serif;
}

p, li {
  color: #524333;
  font-size: 22px;
  font-family: 'Nunito Sans', sans-serif;
}

button {
  background-color: #235c2e;
  border: #235c2e;
  border-radius: 15px 5px 30px 5px;
  padding: 10px 25px 10px 15px;
  font-size: 25px;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #e4f7ee;
  color: #235c2e;
}

footer {
  margin: auto 0px 0px 0px;
  padding: 20px;
  border-top: 3px solid #235c2e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer img {
  width: 200px;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: inline;
          flex-direction: inline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

footer p {
  text-align: center;
  font-weight: 600;
}

#navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: white;
  -webkit-box-shadow: 0 1px 3px 0 #e3e3e3, 0 1px 1px 0 #e3e3e3, 0 2px 1px -1px #e3e3e3;
          box-shadow: 0 1px 3px 0 #e3e3e3, 0 1px 1px 0 #e3e3e3, 0 2px 1px -1px #e3e3e3;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: inline;
          flex-direction: inline;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navbar button {
  margin: 10px 10px 10px auto;
}

#navbar img {
  margin: 15px;
  width: 200px;
}

#hero {
  background-image: url("./images/Hero Herstel Plus-cutout.jpeg");
  background-repeat: no-repeat;
  background-size: none;
  background-position: top;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: inline;
          flex-direction: inline;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#hero #hero-title {
  color: white;
  margin-top: 75px;
  text-align: center;
  text-shadow: 2px 2px black;
}

#problem-section, #solution-section, #introduction-section, #program-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e4f7ee;
  background-image: url("./images/background-cutout.jpeg");
  background-color: #235c2e;
  background-repeat: no-repeat;
  background-size: none;
  background-position: top;
  padding: 100px 50px;
}

#problem-section h2, #solution-section h2, #introduction-section h2, #program-section h2 {
  text-align: center;
  margin-bottom: 100px;
  color: white;
}

#problem-section #card-container, #solution-section #card-container, #introduction-section #card-container, #program-section #card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: inline;
          flex-direction: inline;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#problem-section .explainer-card, #solution-section .explainer-card, #introduction-section .explainer-card, #program-section .explainer-card, #program-section .agenda-card {
  border: 3px solid white;
  width: 100%;
  height: 600px;
  border-radius: 15px;
  margin: 20px;
  padding: 20px;
}

#problem-section .problem-title-container, #solution-section .problem-title-container, #introduction-section .problem-title-container, #program-section .problem-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#problem-section .problem-title-container img, #solution-section .problem-title-container img, #introduction-section .problem-title-container img, #program-section .problem-title-container img {
  width: 100px;
  margin-right: 20px;
}

#problem-section .problem-title-container h3, #solution-section .problem-title-container h3, #introduction-section .problem-title-container h3, #program-section .problem-title-container h3 {
  margin-bottom: 0px;
  color: white;
}

#problem-section .problem-title-container p, #solution-section .problem-title-container p, #introduction-section .problem-title-container p, #program-section .problem-title-container p {
  padding: 0px 30px;
  font-size: 40px;
  color: white;
}

#solution-section, #introduction-section {
  background-image: none;
  background-color: white;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#solution-section .solution-text-container, #introduction-section .solution-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: inline;
          flex-direction: inline;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0px;
}

#solution-section .solution-text-container img, #introduction-section .solution-text-container img {
  width: 250px;
  margin-right: 50px;
}

#solution-section .solution-text-container h3, #introduction-section .solution-text-container h3 {
  font-size: 50px;
}

#solution-section h2, #introduction-section h2 {
  color: #235c2e;
}

#program-section {
  background-position: top;
}

#program-section .program-details-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: inline;
          flex-direction: inline;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0px;
  border-bottom: 1px solid #ff8400;
}

#program-section .program-details-container img {
  width: 50px;
  margin-right: 50px;
}

#program-section .program-details-container p {
  font-size: 40px;
  font-weight: bold;
  color: white;
}

#program-section .agenda-card {
  width: 90%;
  background-color: white;
  margin-top: 50px;
}

#program-section .agenda-card-container {
  width: 100%;
  margin-top: 50px;
}

#introduction-section #appointment-container {
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  #hero {
    height: 39vh;
  }
  #card-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .explainer-card, #program-section .agenda-card {
    height: 420px !important;
  }
  p {
    font-size: 32px;
  }
}
/*# sourceMappingURL=home.css.map */