html {
  scroll-behavior: smooth;
}

body {
  padding: 0px;
  margin: 0px;
}

h1 {
  color: #ff8400;
  font-family: 'Fira Sans', sans-serif;
  font-size: 50px;
  margin: 20px;
}

h2 {
  color: #235c2e;
  font-size: 40px;
  font-family: 'Fira Sans', sans-serif;
  margin: 20px;
}

h3 {
  color: #235c2e;
  font-size: 30px;
  font-family: 'Fira Sans', sans-serif;
  margin: 20px;
}

p, li {
  color: #524333;
  font-size: 22px;
  font-family: 'Nunito Sans', sans-serif;
}

button {
  background-color: #235c2e;
  border: #235c2e;
  border-radius: 15px 5px 30px 5px;
  padding: 10px 25px 10px 15px;
  font-size: 22px;
  color: white;
  cursor: pointer;
  font-family: 'Nunito Sans', sans-serif;
}

button:hover {
  background-color: #ff8400;
  color: white;
  border-color: #ff8400;
}

footer {
  margin: auto 0px 0px 0px;
  padding: 20px;
  border-top: 3px solid #235c2e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer img {
  width: 200px;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: inline;
          flex-direction: inline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

footer p {
  text-align: center;
  font-weight: 600;
}


#navbar{
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 5;
  box-shadow: 0 1px 3px 0 rgb(227, 227, 227), 0 1px 1px 0 rgb(227, 227, 227), 0 2px 1px -1px rgb(227, 227, 227);
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar button{
  margin: 10px 10px 10px auto;
}

#navbar img{
  margin: 15px;
  width: 200px;
}

#menu-items-container{
  display: flex;
  align-items: center;
}

#menu-items-container a{
  color: #524333;
  margin-right: 20px;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
}

#menu-items-container a:hover{
  color: #ff8400;
}

.menu-item-inner-container{
  display: flex;
}

.menu-item-inner-container img{
  height: 10px !important;
  width: 10px !important;
  margin: 0px 5px 0px 0px !important;
}

#hero{
  background-image: url('./images/Hero\ Herstel\ Plus-cutout.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 1100px;
}

#hero-title{
  color: white;
  margin-top: 75px;
  text-align: center;
  text-shadow: 2px 2px black;
}

#problem-section{
  background-image: url('./images/background-cutout.jpeg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

#problem-section h2{
  text-align: center;
  color: white;
  margin: -150px 20px 100px 10px;
}

.explainer-card{
  border: 3px solid white;
  width: 80%;
  border-radius: 15px;
  margin: 20px;
  padding: 20px;
}

.problem-title-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.problem-title-container img{
  width: 100px;
  margin-right: 20px;
}

.problem-title-container h3{
  margin-bottom: 0px;
  color: white;
  text-align: left;
}

.problem-title-container p{
  color: white
}

#card-container{
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

#problem-section-inner-container{
  background-color: #235c2e;
  width: 100%;
  margin-top: 320px;
}

#solution-section{
  margin-top: 0px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

#solution-section  h2{
  color: #235c2e;
  margin-top: 100px;
  text-align: center;
  width: 100%;
}

.solution-text-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 50px;
}

.solution-text-container img{
  width: 250px;
  margin-right: 50px;
}

.solution-text-container h3{
  font-size: 30px;
  color: #235c2e;
}

#program-section{
  background-image: url('./images/background-cutout.jpeg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
  
#program-section h2{
    margin: -100px 30px 100px 30px;
    color: white;
    text-align: center;
}
    
.program-details-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0px;
  border-bottom: 1px solid #ff8400;
}

.program-details-container-coach-info{
  margin: 20px 0px;
  border-bottom: 1px solid #ff8400;
}

.program-details-text-container p{
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.program-details-container-icon{
  width: 50px;
  margin-right: 50px;
}

.program-details-text-container{
  display: flex;
  align-items: center;
}

.program-detail-coach-container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.program-detail-coach-container p{
  color: white;
  margin: 10px 20px 10px 100px;
}

.program-detail-coach-container img{
  border-radius: 50%;
  height: 70px;
  width: 70px;
  margin-bottom: 20px;
  object-fit: cover;
  border: 2px solid white;
}

.program-details-container img{
  width: 50px;
  margin-right: 50px;
}

.program-details-container p{
  font-size: 30px;
  font-weight: bold;
  color: white;
}

#program-section-inner-container{
  background-color: #235c2e;
  margin-top: 250px;
  width: 100%;
}

#program-details-outer-container{
  margin: 10px 50px;
}

.agenda-card-container{
  width: 100%;
  margin: 50px 0px 100px 0px;
  display: flex;
  justify-content: flex-start;
}

.agenda-card{
  border: 3px solid white;
  border-radius: 15px;
  width: 80%;
  background-color: white;
  margin: 50px 20px 20px 20px;
  padding: 20px;
}

.agenda-card h3{
  color: #235c2e;
}

.agenda-card p{
  color: #235c2e;
}

.agenda-card button{
  margin-bottom: 0px;
  margin-top: auto;
}

#introduction-section{
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#introduction-section h2{
  text-align: center;
  margin: 100px 20px 50px 20px;
}

#appointment-container{
  width: 100%;
}
#location-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

#location-container img{
  width: 50px;
}

#location-container p{
  font-weight: bold;
  padding: 10px 20px;
}

#contact-section{
  background-color: #235c2e;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact-section h2{
  color: white;
  margin: 100px 20px 50px 20px;
}

.contact-detail-container img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.contact-detail-container{
  margin: 30px;
  border-bottom: 1px solid #ff8400;
  padding-bottom: 30px;
}

.contact-detail-container h2{
  color: white;
}

.contact-detail-container p{
  color: white;
}

.contact-detail-container h3{
  color: white;
}

.contact-person-container{
  display: flex;
  align-items: center;
}

.contact-person-container img{
  margin-right: 20px;
  object-fit: cover;
  border: 3px solid white;
}

#contact-section-inner-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media only screen and (max-width: 513px){

  #hero{
      height: 400px;
  }

  #problem-section{
      background-position: top;
      background-size: 100%;
      margin-top: 50px;
  }

  #program-section {
    background-size: 100%;
    background-position: top;
  }

  #program-section h2{
    margin-top: -50px;
  }

  #program-section-inner-container {
    margin-top: 150px;
  }

  #problem-section-inner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #problem-section h2 {
    margin: 5px 20px 10px 10px;
  }

  #menu-items-container{
    display: none;
  }

  h1{
      font-size: 35px;
  }

  h2{
      font-size: 30px !important;
  }

  h3{
      font-size: 25px !important;
  }

  p{
      font-size: 20px !important;
  }

  button{
      font-size: 20px;
  }

  #problem-section-inner-container{
      margin-top: 50px !important;
  }

  footer img{
      width: 100px;
  }

  #solution-section{
    align-items: center;
  }

  .solution-text-container{
      flex-direction: column;
      align-items: center !important;
      margin: 20px 20px !important;
      text-align: center !important;
  }

  .agenda-card-container{
      flex-wrap: wrap;
  }

  #navbar{
      justify-content: center !important;
  }

  #navbar img{
      width: 100px !important;
  }

  #navbar button{
      display: none;
  }

  #card-container{
      flex-wrap: wrap;
  }

  #solution-section h2 {
    width: auto;
  }

  .program-detail-coach-container{
    flex-direction: column;
    align-items: flex-start;
  }

  .program-detail-coach-container img{
    margin-left: 100px;
  }

}

@media only screen and (min-width: 513px) and (max-width: 700px){

  #hero{
      height: 500px;
  }

  h1{
      font-size: 35px;
  }

  h2{
      font-size: 30px !important;
  }

  h3{
      font-size: 25px !important;
  }

  p{
      font-size: 20px !important;
  }

  button{
      font-size: 20px;
  }

  #problem-section-inner-container{
      margin-top: 100px !important;
  }

  #problem-section{
      background-position: top;
      background-size: 100%;
  }

  #problem-section-inner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #problem-section h2{
    margin: 0px 20px 50px 10px;
  }

  #program-section {
    background-size: 100%;
    background-position: top;
  }

  #program-section h2{
    margin-top: -100px;
  }

  footer img{
      width: 100px;
  }

  .solution-text-container{
      flex-direction: column;
      align-items: center !important;
      margin: 20px 20px !important;
      text-align: center !important;
  }

  #solution-section{
    align-items: center;
  }

  .agenda-card-container{
      flex-wrap: wrap;
  }

  #navbar{
      justify-content: center !important;
  }

  #navbar img{
      width: 100px !important;
  }

  #navbar button{
      display: none;
  }

  #menu-items-container{
    display: none;
  }

  #card-container{
      flex-wrap: wrap;
  }

  .program-detail-coach-container img{
    margin-left: 100px;
  }

  .program-detail-coach-container{
    flex-direction: column;
    align-items: flex-start;
  }

}

@media only screen and (min-width: 700px) and (max-width: 850px){

  #hero{
      height: 500px;
  }

  h1{
      font-size: 35px;
  }

  h2{
      font-size: 30px !important;
  }

  h3{
      font-size: 25px !important;
  }

  p{
      font-size: 20px !important;
  }

  button{
      font-size: 20px;
  }

  footer img{
      width: 100px;
  }

  #problem-section{
      background-position: top;
      background-size: 100%;
  }

  #problem-section-inner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #problem-section h2{
    margin-top: -150px;
  }

  #program-section {
    background-size: 100%;
    background-position: top;
  }

  #program-section h2{
    margin-top: -100px;
  }

  #solution-section h2{
      margin-top: 100px !important;
  }

  #solution-section{
    align-items: center;
  }

  #introduction-section h2{
      margin: 100px !important;
  }

  .solution-text-container{
      flex-direction: column;
      align-items: center !important;
      margin: 20px 20px !important;
      text-align: center !important;
  }

  .agenda-card-container{
      flex-wrap: wrap;
  }

  #navbar{
      justify-content: center !important;
  }

  #navbar img{
      width: 100px !important;
  }

  #navbar button{
      display: none;
  }

  #menu-items-container{
    display: none;
  }

  #card-container{
      flex-wrap: wrap;
      align-items: flex-start;
  }

  .program-detail-coach-container{
    flex-direction: column;
    align-items: flex-start;
  }

  .program-detail-coach-container img{
    margin-left: 100px;
  }

}

@media only screen and (min-width: 850px) and (max-width: 1050px){

  #hero{
      height: 600px;
  }

  #problem-section{
      background-position: top;
      background-size: 100%;
  }

  #solution-section{
    align-items: center;
  }

  #problem-section  h2{
    margin-top: -125px;
  }

  #solution-section h2{
      margin-top: 100px !important;
  }

  #program-section {
    background-size: 100%;
    background-position: top;
  }

  #program-section h2{
    margin-top: -100px;
  }

  #introduction-section h2{
      margin: 100px !important;
  }

  .solution-text-container{
      flex-direction: column;
      align-items: center !important;
      margin: 20px 20px !important;
      text-align: center !important;
  }

  .agenda-card-container{
      flex-wrap: wrap;
  }

  #navbar{
      justify-content: center !important;
  }

  #navbar img{
      width: 100px !important;
  }

  #navbar button{
      display: none;
  }

  #card-container{
      flex-wrap: wrap;
  }

}

